*{
  margin:0;
  padding:0;
}

.wrap{
  width:100%;
  height:auto;
}
/*日历组件*/
.canlenderBar{
  width:500px;
  height: 1000px;
  /* background-color: #cccccc; */
  /* 居中显示 */
  margin:0 auto;
  /* overflow:hidden; */
}

/*年月选择按钮*/
.canlenderBar .top{
  padding-top:20px;
  padding-bottom: 20px;
  background-color: white;
}

.canlenderBar .top .btn{
  /* height:22px; */
  /* 清除浮动 */
  overflow:hidden;
  margin:0 auto;
  width:290.7142857142857px;
}
.canlenderBar .top .btn .leftBtn{
  /* 设置该元素浮动 */
  float:left;
  margin-right:90px;
}
.canlenderBar .top .btn .date{
  float:left;
}
.canlenderBar .top .btn .rightBtn{
  float:left;
  margin-left:85px;
}
/*日期展示*/
.canlenderBar .middle{
  width: 100%;
  /* background-color: white; */
}
/* 表格 */
.canlenderBar .middle .dateTableHeader{
  width: 100%;
  background-color: #F4F5F6;
  /* border: 1px solid green; */
}
.canlenderBar .middle .dateTableHeader .clear{
  /*同级元素添加一个没有内容的元素，添加属性clear:both*/
  clear:both;
}
.canlenderBar .middle .dateTableHeader .dateTitle{
  /* 清除圆点 */
  list-style: none;
  float:left;
  width: 71.42857142857143px;
  height: 71.42857142857143px;
  font-size:18px;
  padding:26.5px;
  /* 怪异盒子模型 */
  box-sizing: border-box;
}
.canlenderBar .middle .dateDay{
  background-color: white;
  overflow: hidden;
}

/* .canlenderBar .middle .dateDay .clear{
  clear: both;
} */
/* 空白元素 */
.canlenderBar .middle .dateDay .oneDay1{
  list-style:none;
  width: 71.42857142857143px;
  height: 71.42857142857143px;
  border-radius: 35.71428571428572px;
  /* border: 1px solid red; */
  padding: 26.5px;
  box-sizing: border-box;
  float: left;
  /* font-size:14px; */
  /* 按父级元素居中 */
  text-align: center;
  background-color: white;
  font-size: 14px;
  color:#cccccc;
}

.canlenderBar .middle .dateDay .oneDay2{
  list-style:none;
  width: 71.42857142857143px;
  height: 71.42857142857143px;
  border-radius: 35.71428571428572px;
  /* border: 1px solid red; */
  padding: 26.5px;
  box-sizing: border-box;
  float: left;
  font-size:14px;
  /* 按父级元素居中 */
  text-align: center;
}
.canlenderBar .middle .dateDay .selectOneDay{
  list-style:none;
  width: 71.42857142857143px;
  height: 71.42857142857143px;
  border-radius: 35.71428571428572px;
  /* border: 1px solid red; */
  padding: 26.5px;
  box-sizing: border-box;
  float: left;
  font-size:14px;
  /* 按父级元素居中 */
  text-align: center;
}

/*待办事项*/
.canlenderBar .bottom{
  margin-top: 10px;
  padding-top: 20px;
  background-color: #f19444;
  width: 100%;
  min-height:500px;
  border-radius: 10px;

}

.canlenderBar .bottom .itemsList{
  width: 80%;
  height: auto;
  margin: 0 auto;
  background-color: #f19444;
}

.canlenderBar .bottom .itemsList .dateTitle{
  background-color: rgba(0, 0, 0, 0.2);
  width: 60%;
  margin:0 auto;
  height:40px;
  margin-top:20px;
  border-radius: 20px;
  font-size:28px;
  color:white;
  padding-left: 20px;
  font-weight: 400;
}
/* 代办事项列表 */
.canlenderBar .bottom .itemsList .itemBarsList{

}
.canlenderBar .bottom .itemsList .itemBarsList .itemBar{
  width: 80%;
  height:auto;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 3px 11px 2px rgba(0, 0, 0, 0.1);
  padding:5px 20px;
  overflow: hidden;

}

.canlenderBar .bottom .itemsList .itemBarsList .itemBar .barTop{
  height: 40px;
  line-height: 40px;
  color: #323232;
  font-size: 16px;
  border-bottom: 1px solid #f2f2f2;
}
.canlenderBar .bottom .itemsList .itemBarsList .itemBar .barBottom{
  color: #9b9b9b;
  font-size: 14px;
  padding: 7px 0;
  overflow: hidden;
}
/* 待办事项详情 */
.canlenderBar .bottom .itemsList .itemBarsList .itemBar .barBottom .des{
  border:none;
  width:320px;
  /* height:20px; */
  resize:none;
  outline:none;
}

.canlenderBar .bottom .itemsList .itemBarsList .itemBar .changeHeight{
  height: 100px;
}
.canlenderBar .bottom .itemsList .itemBarsList .itemBar .barBottom .confirm{
  border: none;
  width: 40px;
  height:20px;
  float: right;
}
.canlenderBar .bottom .itemsList .itemBarsList .button{
  width: 300px;
  height:40px;
  background-color: #cccccc;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px;
  cursor: pointer;
}
.canlenderBar .bottom .itemsList .itemBarsList .button .plus{
  padding: 11px 0px 11px 11px;
}
.canlenderBar .bottom .itemsList .itemBarsList .button span{
  font-size: 22px;
  color: #5f6368;
  font-weight: 700;
  line-height: 0;
  padding: 0px 40px;
}
