<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>canlender-vue-0.0.1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/canlender1.0.css">
    <style media="screen">
    </style>
  </head>
  <body>
    <div id="app">
      <div class="wrap">
        <!-- 日历组件 -->
        <div class="canlenderBar">
          <!-- 年月选择按钮 -->
          <div class="top">
            <div class="btn">
              <!-- 上一月份 -->
              <div class="leftBtn" @click="preMonth()">
                <img src="src/left.png" alt="">
              </div>
              <div class="date">
                <!-- 年 -->
                <span class="year">{{nowYear}}</span>
                <!-- '-' -->
                <span class='char'>-</span>
                <!-- 月 -->
                <span class='month'>{{nowMonth > 0 && nowMonth < 10 ? '0' + nowMonth : '' + nowMonth}}</span>
              </div>
              <!-- 下一月份 -->
              <div class="rightBtn" @click="nextMonth()">
                <img src="src/right.png" alt="">
              </div>
            </div>
          </div>
          <!-- 日期选择表格 -->
          <div class="middle">
            <div class="dateTableHeader">
              <li class='dateTitle'>日</li>
              <li class='dateTitle'>一</li>
              <li class='dateTitle'>二</li>
              <li class='dateTitle'>三</li>
              <li class='dateTitle'>四</li>
              <li class='dateTitle'>五</li>
              <li class='dateTitle'>六</li>
              <div class="clear">
              </div>
            </div>
            <div class="dateDay" id="dateDay">
            </div>
          </div>
          <!-- 待办事项 -->
          <div class="bottom">
            <div class="itemsList">
              <div class="itemBarsList">
                <!-- 新建事件 -->
                <div class="button" @click='addItem()' v-if='showButton' >
                  <div class="plus">
                    <img src="src/加.png" alt="">
                    <span>新建待办事项</span>
                  </div>
                </div>
                <div class="itemBar" v-if='showBar' v-for='item in somedayItem'>
                  <div class="barTop">
                    <textarea class="title" name="name" rows="1" cols="10" style="border:none;width:320px;height:20px;resize:none;outline:none;" placeholder="输入事件标题..." >{{item.title}}</textarea>
                  </div>
                  <div class="barBottom">
                    <textarea id="desText" class="des" name="name" rows="1" cols="10" :class="{'changeHeight':isShowHeight}" @click="changeHeight()" placeholder="输入事件详情..." style="height:20px;">{{item.des}}</textarea>
                    <button  class='confirm' type="button" name="button" @click="saveInfo()" v-if="item.showConfirm">完成</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
        var app = new Vue({
          el:'#app',
          data:{
            months :[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31],
            nowYear:0,
            nowMonth:0,
            nowDate:0,
            showButton:true,
            showBar:true,
            nowTitle:'',
            nowDes:'',
            isShowHeight:false,
            itemsList:[
              {title:'番茄工作法',des:'1、把工作任务拆分多个任务，工作25分钟休息5分钟',time:'2018/10/30'},
              {title:'学习React',des:'学习文档，看视频',time:'2018/10/30'},
              {title:'学习vue',des:'学习文档，看视频',time:'2018/10/30'}
            ],
            somedayItem:[]
          },
          methods:{
            //判断是否是闰年
          	isLeapYear: function(year) {
          		var num_year = year;
              if((num_year % 400 == 0)||(num_year % 100 != 0 && num_year % 4 == 0)){
                     return true;
				      }else{
                     return false;
				      }
          	},
            //获取每月天数，并判断二月的天数是29或28
			      calculateDays: function (year, month) {
    			    var days = this.months[month-1];
    			    // 2月比较特殊，非闰年28天，闰年29天，如2008年2月为29天
    			    if ( month == 2 && this.isLeapYear(year) ) {
        			     days = 29
    			    }
              console.log(this.months);
              console.log(days);
    			    return days;
              },
            //计算每月1号是星期几
            getFirstDay: function (year,month){
                //实例化date对象
                var myDate = new Date();
                myDate.setYear(year);
                //month从0开始，传递月份参数需-1
                myDate.setMonth(month-1);
                myDate.setDate(1);
                console.log(myDate.getDay());
                return myDate.getDay();
            },
            // 计算每月最后一天是星期几
            getLastDay: function(year,month,dayCount){
                var myDate = new Date();
                myDate.setYear(year);
                myDate.setMonth(month-1);
                myDate.setDate(dayCount);
                return myDate.getDay();
            },
            // 添加日份div
            show: function (year,month,d){
              var weekFirstDay = this.getFirstDay(year,month);
              var dayCount = this.calculateDays(year,month);
              var weekLastDay = this.getLastDay(year,month,dayCount);
              // 如果当月1号不为星期日，则添加空元素到前面
              if(weekFirstDay != 7){
                for(var i = 0;i < weekFirstDay; i++){
                    var divDay1 = document.createElement("li");
                    if(month > 1 && month < 12){
                      var text = this.calculateDays(year,month-1)-weekFirstDay+i+1;
                    }else{
                      var text = this.calculateDays(year-1,11)-weekFirstDay+i+1;
                    }

                    divDay1.innerHTML = text + '<br/>';
                    divDay1.className = "oneDay1";
                    document.getElementById("dateDay").appendChild(divDay1);
                }
              }
              //得到本月的天数，按规则格式注入天数
              for(let i = 0; i < dayCount; i++){
                  var divDay2 = document.createElement('li');
                  var day = document.getElementsByClassName('oneDay2');
                  divDay2.innerHTML = i + 1;
                  divDay2.className = "oneDay2";
                  document.getElementById('dateDay').appendChild(divDay2);
                  // console.log(divDay2.innerHTML); 调试
                  if(new Date().getFullYear() == this.nowYear && new Date().getMonth() + 1 == this.nowMonth && new Date().getDate() == divDay2.innerHTML){
                    console.log('this is change!')
                    this.changeColor(); //changeColor();
                    let that = this;
                    this.somedayItem = this.itemsList.filter(function(x){
                      let time_ = that.nowYear + '/' + that.nowMonth + '/' + that.nowDate;
                      console.log(time_);
                      return x.time === time_;
                    })
                  }
                  // 点击日期修改背景颜色
                  let that = this;
                  divDay2.onclick = function(){
                    for(let j = 0;j < day.length;j++){
                    day[j].style.backgroundColor = '#ffffff';
                    }
                    this.style.backgroundColor = '#499df2';
                    console.log(that.nowYear);
                    console.log(that.nowMonth);
                    that.nowDate = Number(this.innerHTML);
                    console.log(that.nowDate);
                    let this_ = this;
                    that.somedayItem = that.itemsList.filter(function(x){
                      let time_ = that.nowYear + '/' + that.nowMonth + '/' + this_.innerHTML;
                      return x.time === time_;
                    })
                  }
            }

            // 如果当月最后一天不是星期六，在后面添加下月日份
            if(weekLastDay != 6){
                for(let i = 0;i < 6 - weekLastDay;i++){
                    var divDay1 = document.createElement("li");
                    var text = i + 1;
                    divDay1.innerHTML = text + '<br/>';
                    divDay1.className = "oneDay1";
                    document.getElementById("dateDay").appendChild(divDay1);
                }
            }

           },
              //某天有事件，添加红点
              addPoint:function(){

              },
              changeColor :function(){
                console.log("this is changeColor");
                var day = document.getElementsByClassName('oneDay2');
                // 改变当前日期的背景色
                day[this.nowDate-1].style.backgroundColor = "#499df2";
              },
              //下一个月
              nextMonth : function() {
          	    var div = document.getElementById("dateDay");
          	    div.innerHTML = "";
          	    if(this.nowMonth == 12){
          	        this.nowMonth = 1;
          	        this.nowYear ++;
                }else{
                      this.nowMonth ++;
                  }
                  this.show(this.nowYear,this.nowMonth);
                  // 清空事件面板
                  this.somedayItem=[];
              },
              // 上一个月
              preMonth : function () {
                  var div = document.getElementById("dateDay");
                  div.innerHTML = "";
                  if(this.nowMonth == 1){
                      this.nowMonth = 12;
                      this.nowYear --;
                  }else{
                      this.nowMonth --;
                  }
                  this.show(this.nowYear,this.nowMonth);
                  // 清空事件面板
                  this.somedayItem=[];
              },
              changeState: function () {
                this.showButton = !this.showButton;
                this.showBar = !this.showBar;
              },
              addItem: function () {
                let time = new Date().getTime();
                let year = new Date().getFullYear();
                let month = new Date().getMonth()+1;
                let date = new Date().getDate();
                console.log(time); //输出时间戳
                this.somedayItem.push({title:this.nowTitle,des:this.nowDes,time:year+'/'+month+'/'+date,showConfirm:true});
                this.itemsList.push({title:this.nowTitle,des:this.nowDes,time:year+'/'+month+'/'+date,showConfirm:true});
              },
              saveInfo: function() {
                //  隐藏完成按钮
                this.itemsList[this.itemsList.length-1].showConfirm = false;
                //获取元素
                var titleText = document.getElementsByClassName('title');
                var desText = document.getElementsByClassName('des');
                // 获取时间戳
                // var time = new Date().getTime();
                let year = this.nowYear;
                let month = this.nowMonth;
                let date = this.nowDate;
                this.itemsList[this.itemsList.length-1]={title:titleText[titleText.length-1].value,des:desText[titleText.length-1].value,time:year+'/'+month+'/'+date};
                var itemsList = JSON.stringify(this.itemsList);
                window.localStorage.setItem('itemsList',itemsList);
              },
              changeHeight: function() {
                var textarea = document.getElementsByClassName("des");
                textarea.
                console.log(parseInt(document.getElementsByClassName("des")[0].style.height));
                // console.log(document.getElementsByClassName("des")[0].currentStyle);
                // console.log(document.defaultView.getComputedStyle(textarea[0],null));
              }
          },
          mounted (){
            //获取当前年月
              var nowdate = new Date();
              // 获取当前年份
              var year = nowdate.getFullYear();
              // 获取当前月份
              var month = nowdate.getMonth();
              // 获取当前日份
              var day = nowdate.getDate();
              // 获取当前星期几
              var week = nowdate.getDay();
              this.nowYear = year;
              this.nowMonth = month+1;
              this.nowDate = day;
              console.log("现在时间：" + this.nowYear + "年" + this.nowMonth + "月" + this.nowDate + "日" + "星期" + week);
              let items = window.localStorage.getItem('itemsList') || JSON.stringify([]);
              this.itemsList = JSON.parse(items);
              //调用渲染函数
              this.show(this.nowYear,this.nowMonth,this.nowDate);
              // 将localStorage中的itemsList取出来
　　       }
});
    </script>
  </body>
</html>
